<div class="my-card hoverable"> <!-- Partial for viewing each course -->
  <div class="post">
    <a href="api/courses/{{course.id}}"><h1 class="p-title">{{course.course_name}}</h1></a> <!-- Route to view course -->
  </div>  
</div>