   <section>
        <div class="container">
            <div class="row">
                <div class="col m4 pull-m2">
                    <div class="current-user-title">
                        <div class="current-user-header">
                            <ul class="green-text">
                                <li>Current Users</li>
                            </ul>
                        </div>
                        <div class="current-user-list">
                            <ul class="green-text">
                                <li id ="user">You: {{userName}}</li> <!-- Current user will be listed here -->
                            </ul>
                            <hr class="hr-line">
                            <div id="new-users"></div> <!-- Users will be appended here -->
                        </div>
                    </div>
                </div> 
                <div class="col m8 pull-m2">
                    <div class="message-container">
                        <div class="current-user-header">
                            <ul class="green-text">
                                <li>Chat</li>
                            </ul>
                        </div>
                        <div class="messages">
                            <div class="one-message">
                                <p>Example User: Hi, How are you ?</p>
                                <span class="date"> 11:01 AM</span>
                            </div>    
                        </div>
                        <div class="input-container">
                            <form>
                                <textarea id="message" rows="2" placeholder="Send a message..."> </textarea>
                            </form>
                            <div class="row">
                                <div class="col s6"></div>
                                <button id="sendBtn" class="sendMsgBtn cols6">SEND</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
    <script src = "/socket.io/socket.io.js"></script> 
    <script src="/js/chat.js"></script>