<div class="container">
    <div class="col s10 offset-s-2 m8 offset-m-8">
        <h2 class="center-align">Admin Dashboard</h2>
    </div>

    {{#if course.length }}
    {{ course-partials }}
    {{else}}
    <h4>No current classes.</h4>
    {{/if}}
    
    {{!-- {{#each courses as |course|}}
    {{course_name}}
    {{/each}} --}}

  {{> course-partials courses}}

    <div class="row">
        <div class="col s10 m12">
            <h3>Courses</h3>
            <hr>
        </div>

        <div class="col s12 m6 l4 xl3">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Create course</span>
              <p>Sign up and drop courses</p>
            </div>
            <div class="card-action">
              <a href="/courses">Go to courses</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l4 xl3">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">My courses</span>
              <p>View courses you've created</p>
            </div>
            <div class="card-action">
              <a href="/courses">Go to my courses</a>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s10 m12">
            <h3>Classroom</h3>
            <hr>
        </div>

        <div class="col s12 m6 l4 xl3">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Make a quiz</span>
              <p>Create a quiz for students</p>
            </div>
            <div class="card-action">
              <a href="/quiz">Go to create quiz</a>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l4 xl3">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Grade a quiz</span>
              <p>Grade student quizzes</p>
            </div>
            <div class="card-action">
              <a href="#">Go to grade quizzes</a>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col s10 m12">
            <h3>Grades</h3>
            <hr>
        </div>
        
        <div class="col s12 m6 l4 xl3">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Grades</span>
              <p>Grades for your courses</p>
            </div>
            <div class="card-action">
              <a href="/grades">View grades</a>
            </div>
          </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/signup.js"></script>