    <div class="main-container">
        <div class="left-container">
            <div class="login">
                <form>
                    <div class="row">
                        <h4 class="small-text">An application for students and admin.</h4>
                        <h4 class="small-text">Access your courses and communicate in real-time.</h4>
                        <h4 class="small-text">All in one.</h4>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <label>Username</label>
                            <input id="userName" type="text" class="input-text"/>
                        </div>
                        <div class="input-field">
                            <label>Password</label>
                            <input id="password" type="password" class="input-text" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l6">
                            <button id="studentBtn" class="signin">Student</button>
                        </div>
                        <div class="col s6 l6">
                            <button id="adminBtn" class="signin">Admin</button>
                        </div>
                    </div>
                </form>
                <a href="/create" class="create">Create An Account</a>
            </div>
            <footer id="main-footer">© 2021 The Query Crew</footer>
        </div>
        <div class="right-container">
                <div class="right-img">
                    <h1 class="main-text">Learning simplified</h1>
                </div>
            </div>
        </div>     
    </div>
<script src="/js/login.js"></script>