<div class="single-container"> <!-- Template for viewing one course-->
    <div class="row"> 
        <div class="post">
            <h2 class="courseName">{{ course_name }}</h2>
            <p>{{ max_capacity }}</p>
            <p>{{ teacher_id }}</p>
            <p>{{ course_description }}</p>
        </div>  
    </div>
</div>
