<div class="single-container"> <!-- Template for viewing one course-->
    <div class="row"> 
        <div class="post">
            <h2 class="courseName">{{ course.course_name }}</h2>
            <p>{{ course.max_capacity }}</p>
            <p>{{ course.teacher_id }}</p>
            <p>{{ course.course_description }}</p>
        </div>  
    </div>
</div>
